/* colors */
$main-bg: #04152d;
$secondary-bg: #041226;
$secondary-bg-2: #020c1b;
$light-blue: #1c4b91;
$blue: #173d77;
$pink: #da2f68;
$orange: #f89e00;
$main-text: white;

/* gradient color */
$gradient: linear-gradient(98.37deg, #f89e00 0.99%, #da2f68 100%);
