/* colors */
$main-bg: #04152d;
$secondary-bg: rgb(4, 18, 38);
$secondary-bg-2: rgb(2, 12, 27);
$light-blue: #1c4b91;
$blue: #173d77;
$pink: #da2f68;
$orange: #f89e00;
$main-text: white;

/* gradient color */
$gradient: linear-gradient(98.37deg, #f89e00 0.99%, #da2f68 100%);
