@import "../../styles/variables";
@import "../../styles/breakPoints";
@import "../../styles/mixin";

.HeroSection {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    line-height: 100%;
    background-size: cover !important;
    background-position: top !important;
    background-repeat: no-repeat !important;
    padding-inline: 2rem;

    .error {
        margin-bottom: 50rem;
        color: rgb(192, 64, 64);
    }

    @include md {
        height: 45rem;
    }

    @include sm {
        height: 45rem;
    }

    @include xs {
        height: 45rem;
    }

    .opacity-wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(5, 26, 54, 0.139) 50%, lighten($main-bg, 8) 89.17%);
    }

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.51);
        z-index: 1;
    }

    .container {
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.6rem;
        color: $main-text;
        z-index: 20;

        .title {
            font-size: 7.5rem;
            font-weight: 600;
            line-height: 150%;
        }

        .msg {
            color: $main-text;
            font-size: 2.5rem;
            font-size: 400 !important;
            line-height: 110%;
        }

        .search {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 5rem;
            height: 5.5rem;

            input {
                padding: 0 2.5rem;
                height: 100%;
                max-width: 65rem !important;
                width: 100%;
                font-size: 2rem;
                border-radius: 5rem 0 0 5rem;
                outline: none;
                border: none;
            }

            button {
                height: 100%;
                width: 12rem;
                border-radius: 0 5rem 5rem 0;
                border: none;
                font-size: 2.2rem;
                color: $main-text;
                background: $gradient;
                cursor: pointer;
            }
        }
    }
}
