@import '../../styles/breakPoints';

.Home {
    font-size: 1.6rem;

    & > .container {
        gap: 8rem;
        display: flex;
        flex-direction: column;
        padding: 8rem 3rem;

        @include md {
            padding: 8rem 2rem;
        }
    }
}
