@import "../styles/breakPoints";
@import "../styles/variables";
@import "../styles/mixin";

.Navbar {
    padding: 1rem 2rem;
    font-size: 1.6rem;
    background-color: rgba(0, 0, 0, 0.434);
    backdrop-filter: blur(1rem);
    position: fixed;
    z-index: 990;
    width: 100%;
    top: 0;

    
    &.show-nav {
        background-color: $secondary-bg-2;
    }

    .container {
        justify-content: space-between;
        align-items: center;

        img {
            height: 4rem;
        }
        img:hover {
            cursor: pointer;
        }

        .menu-items {
            display: none;

            @include md {
                display: flex;
                .menu,
                .cross {
                    position: absolute;
                    top: -1rem;
                    right: 0;
                    color: $main-text;
                    font-size: 2rem;
                    cursor: pointer;
                }
            }

            @include sm {
                display: flex;
                .menu,
                .cross {
                    position: absolute;
                    top: -1rem;
                    right: 0;
                    color: $main-text;
                    font-size: 2rem;
                    cursor: pointer;
                }
            }

            @include xs {
                display: flex;
                .menu,
                .cross {
                    position: absolute;
                    top: -1rem;
                    right: 0;
                    color: $main-text;
                    font-size: 2rem;
                    cursor: pointer;
                }
            }
        }

        .links {
            gap: 3rem;
            font-weight: 500;
            color: white;
            justify-content: center;
            align-items: center;

            @include md {
                @include responsiveness;
            }

            @include sm {
                @include responsiveness;
            }

            @include xs {
                @include responsiveness;
            }

            & > * {
                padding-inline: 0.5rem;

                &:hover {
                    color: lighten($pink, 30);
                    &::before {
                        width: 100%;
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    bottom: -0.5rem;
                    left: 0;
                    width: 0%;
                    height: 3px;
                    border-radius: 5px;
                    background: $gradient;
                    transition: all 0.3s ease;
                    left: 50%;
                    transform: translate(-50%, 0);
                }
            }

            cursor: default;
            & > *:not(:last-child):hover {
                cursor: pointer;
            }
        }
    }
}
