@import '../styles/variables';
@import '../styles/breakPoints';

.RatingsCircle {
    background-color: white;
    border-radius: 50%;
    width: 5rem;
    padding: .2rem;
    
    .CircularProgressbar-text {
        font-weight: 700;
        font-size: 3rem !important;
        fill: $main-bg;

        @include md {
            font-size: 4rem !important;
        }
        @include sm {
            font-size: 4rem !important;
        }
        @include xs {
            font-size: 4rem !important;
        }
    }
    .CircularProgressbar-trail {
        stroke: transparent;
    }
}